<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand txt-primary" style="font-weight: 800; font-size: x-large;" href="{% url 'home'  %}"><i class="fa fa-map-marker-alt me-3"></i>Thapaliya Tours & Travels</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about'  %}" ><strong>About Us</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'services'  %}"><strong>Services</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'packages'  %}"><strong>Packages</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact'  %}"><strong>Contact</strong></a>
          </li>
        </ul>
        {% if user.is_authenticated %}
            <a href="{% url 'dashboard'  %}" class="btn btn-primary mx-2" >Dashboard</a>
            <a href="{% url 'logout'  %}" class="btn btn-primary mx-2" >Logout</a>
        {% else %}
            <a href="{% url 'login'  %}" class="btn btn-primary mx-2" >Login</a>
            <a href="{% url 'register'  %}" class="btn btn-primary" >Register</a>
        {% endif %}
       
      </div>
    </div>
  </nav>

  