{% extends 'base/main.html' %}
{% load static %}
{% block title %}
  
{% endblock %}

{% block content %}
<div class="px-4 py-5 text-center" style="height: 100% !important; background-image: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)),url({% static 'img/bg-hero.jpg' %});">
    <h1 class="display-5 fw-bold text-white">Book Packages</h1>
</div>
<br>
<div class="container">
    <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="position-relative h-100">
        <img class="img-fluid position-absolute w-100 h-100" src="{{ object.destination.image.url }}" alt="" style="object-fit: cover;">
        </div>
        </div>
        <div class="col-lg-6">
        <h6 class="section-title bg-white txt-primary pe-3"><strong>Destination</strong></h6>
        <h1 class="mb-4">Book <span class="txt-primary">{{ object.destination.name}} Package</span></h1>
        <p class="mb-4">{{ object.description }}</p>
        <div class="row gy-2 gx-4 mb-4">
            <small class="flex-fill border-end py-2"><i class="fa fa-map-marker-alt txt-primary me-2"></i>{{ object.destination.address }}</small>
            <small class="flex-fill border-end py-2"><i class="fa fa-calendar-alt txt-primary me-2"></i>{{object.days}} days</small>
            <small class="flex-fill py-2"><i class="fa fa-user txt-primary me-2"></i>{{object.persons}} Person</small>
        </div>
        <h3 class="mb-0">Rs. {{ object.price }}</h3>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" aria-label="Checkbox for following text input">
              </div>
            </div>
            <br>
            <span class="mx-2"> Want to hire a Guide ??</span>
        </div>
    </div>
    </div>
{% endblock %}