{% extends 'base/main.html' %}
{% load static %}
{% block title %}
  
{% endblock %}

{% block content %}
<div class="px-4 py-5 text-center" style="height: 100% !important; background-image: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)),url({% static 'img/bg-hero.jpg' %});">
    <h1 class="display-5 fw-bold text-white">Enjoy Your Vacation With Us</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-white">Your Best Travel Partner</p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
       <form action="#">
           <div class="row">
               <div class="col">
                <input type="text" class="form-control" placeholder="Eg: Pokhara" style="width: 500px;">
               </div>
               <div class="col">
                <a type="submit" class="btn" style="background-color: rgb(136,183,47) !important; color: white;">Search</a>
               </div>
           </div>
           
           
       </form>
      </div>
    </div>
  </div>
  <br>
  <div class="container-xxl py-5 destination">
    <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
    <h6 class="section-title bg-white text-center txt-primary px-3">Destination</h6>
    <h1 class="mb-5">Popular Destination</h1>
    </div>
    <div class="row g-3">
    <div class="col-lg-7 col-md-6">
    <div class="row g-3">
    <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: zoomIn;">
    <a class="position-relative d-block overflow-hidden" href="">
    <img class="img-fluid" src="{% static 'img/destination-1.jpg' %}" alt="">
    <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">30% OFF</div>
    <div class="bg-white txt-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Thailand</div>
    </a>
    </div>
    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: zoomIn;">
    <a class="position-relative d-block overflow-hidden" href="">
    <img class="img-fluid" src="{% static 'img/destination-2.jpg' %}" alt="">
    <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">25% OFF</div>
    <div class="bg-white txt-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Malaysia</div>
    </a>
    </div>
     <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">
    <a class="position-relative d-block overflow-hidden" href="">
    <img class="img-fluid" src="{% static 'img/destination-3.jpg' %}" alt="">
    <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">35% OFF</div>
    <div class="bg-white txt-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Australia</div>
    </a>
    </div>
    </div>
    </div>
    <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px; visibility: visible; animation-delay: 0.7s; animation-name: zoomIn;">
    <a class="position-relative d-block h-100 overflow-hidden" href="">
    <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/destination-4.jpg' %}" alt="" style="object-fit: cover;">
    <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">20% OFF</div>
    <div class="bg-white txt-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Indonesia</div>
    </a>
    </div>
    </div>
    </div>
    </div>
{% endblock %}