{% extends 'base/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
  
{% endblock %}

{% block content %}
<div class="px-4 py-5 text-center" style="height: 100% !important; background-image: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)),url({% static 'img/bg-hero.jpg' %});">
    <h1 class="display-5 fw-bold text-white">Register</h1>
</div>
<br>
<div class="form-signin">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" class="btn btn-primary btn-block">Register</button>

    </form>
  </div>
{% endblock %}